.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__description {
  margin-bottom: 30px;
}

.footer__text {
  @include text($height: 1.6, $opacity: 0.5);
  text-align: center;
  width: 411px;
  margin-bottom: 60px;
}

.footer__subscription {
  margin-bottom: 40px;
}
